@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #17152A;
    --secondary-color: #211A3F;
    --tertiary-color: #71579F;
    --purple-color: #EA629E;
    --text-dark: #0a0a0a;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    /* background-color: var(--primary-color); */
    /* background-color: #EDEDED; */
    background-color: #17152A;
}

.btn {
    padding: 0.75rem, 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(61, 90, 64, 0.7);
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

header {
    position: relative;
    isolation: isolate;
}

nav {
    position: fixed;
    width: 100%;
    max-width: var(--max-width);
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
}

.logo a img {
    max-width: 210px;
}

.logo .logo-color {
    display: flex;
}

.nav-links {
    list-style: none;
    position: absolute;
    right: 1rem;
    top: 100px;
    width: 100%;
    max-width: 350px;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    display: none;
}

.nav-links.open {
    display: flex;
    margin-left: 50px;
}

.nav-links a {
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--white);
}

.nav-links a:hover {
    color: var(--tertiary-color);
    transition: color 0.3s ease;
}

.menu {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.menu i {
    width: 43px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid var(--white);
    border-radius: 5px;
}

.header-container {
    display: grid;
}

.header-image {
    position: relative;
    isolation: isolate;
    min-height: max(75vh, 500px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 8rem;
}

.header-image::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 90vh;
    width: 0;
    background-color: var(--primary-color);
    z-index: 1;
    animation: scroll-right 0.5s 0.3s linear forwards;
}

.header-image.reveal {
    background-image: url("assets/workmates-bg.jpg");
    height: 100vh;
}

.header-image.reveal::after {
    left: unset;
    right: 0;
    animation: scroll-left 0.5s linear forwards;
}

@keyframes scroll-right {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes scroll-left {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.header-content {
    text-align: center;
    padding: 4rem 1rem;
}

.header-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 3rem;
    color: var(--white);
    margin-top: -15px;
}

.header-content h2 {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 200;
    line-height: 3rem;
    color: var(--white);
    margin-top: 20px;
}

.header-content p {
    font-size: 1rem;
    color: var(--white);
    margin-bottom: 35px;
}

@media (width > 540px) {
    .header-image {
        min-height: max(75vh, 550px);
    }
}

@media (width > 800px) {
    nav {
        padding: 2rem 1rem;
    }

    .logo .logo-color {
        display: flex;
    }

    .menu {
        display: none;
    }

    .nav-links {
        padding: 1rem 3rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 30px;
        display: flex;
        gap: 3rem;
        flex-direction: row;
        max-width: fit-content;
        border-radius: 5rem;
        background-color: var(--secondary-color);
        /* background-color: #6B1457; */
        /* background-color: var(--primary-color); */
    }

    .header-container {
        display: grid;
        grid-template-columns:
            minmax(0, calc(var(--max-width) * 0.04)) 
            minmax(1rem, 1fr)
            minmax(1rem, 1fr)
            ;
        align-items: center;
    }

    .header-image {
        min-height: max(75vh, 650px);
        grid-area: 1/3/2;
    }

    
    .header-content{
        text-align: left;
        padding-top: 10rem;
        grid-column: 2/3;
    }

    .header-content h1 {
        font-size: 4rem;
        line-height: 5rem;
    }

    .header-content h2 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .header-content p {
        font-size: .9rem;
        line-height: 2rem;
        font-weight: 300;
        
    }
}

@media (width > 1024px){
    .nav-links{
        padding: 0.75rem 4rem;
        gap: 4rem;
    }
}



/* Pricing */

.container-price {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: var(--secondary-color);
}

.container-price h2 {
    color: var(--white);
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 50px 0;
    text-align: center;
    margin: 40px 0;
}

.container-price h1 {
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    margin-top: -35px;
    margin-bottom: 40px;
}

.price-row {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;

}

.price-col {
    background: #FAFAFA;
    padding: 10% 15%;
    border-radius: 10px;
    color: var(--text-dark);
    text-align: center;
}

.price-col p {
    font-size: 1.175rem;
}

.price-col h3 {
    font-size: 1.60rem;
    margin: 20px 0 40px;
    font-weight: 700;
}

.price-col h3 span{
    font-size: 1rem;
}

.price-col ul {
    text-align: left;
    margin: 20px 0;
    color: var(--text-dark);
    list-style: none;
}

.price-col ul li {
    margin: 15px 0;
    font-size: 0.90rem;
}

.price-col ul li::before {
    content: '\2022';
    color: var(--primary-color);
    font-weight: 600;
    margin-right: 8px;
}

.price-col button {
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: var(--text-dark);
    font-size: 0.938rem;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
}

.price-col button:hover {
    background: var(--tertiary-color);
    border: 1px solid var(--text-dark);
    color: var(--white);
}



/* About us */

.about-title h2 {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 50px 0;
    text-align: center;
    margin-bottom: 70px;
}

.about-section {
    background: url(assets/about-1.jpg) no-repeat left;
    background-size: 55%;
    background-color: #FAFAFA;
    overflow: hidden;
    padding-top: 80px;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #EEEEEE;
    padding: 130px;
    border-radius: 10px;
}

.inner-container h1{
    color: var(--primary-color);
    margin-bottom: 30px;
    font-size: 1.875rem;
    font-weight: 700;
}

.text {
    font-size: 0.920rem;
    color: #777777;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.specializations {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 0.945rem;
}

@media screen and (max-width: 1200px) {
    .inner-container {
        padding: 80px;
    }
}

@media screen and (max-width: 1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container {
        width: 100%;
    }
}


/* Testimonials */

.container-testimonial {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.header-testimonial{
    margin-bottom: 2rem;
}

.header-testimonial p {
    letter-spacing: 2px;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    padding: 40px 0;
}

.header-testimonial h1 {
    font-family: 'Noto Serif', serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
}

.testimonial-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.card {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    background-color: #EEEEEE;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card i {
    font-size: 2.5rem;
    color: var(--secondary-color);
}

.card p {
    font-size: .875rem;
    font-weight: 400;
    line-height: 20px;
}

.card hr {
    width: 40px;
    margin: auto;
    color: #767268;
}

.card img {
    max-width: 210px;
    margin: auto;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
}

.card .name {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

.card .name:hover {
    color: var(--primary-color);
}

.footer-testimonial h4{
    font-family: 'Noto Serif', serif;
    font-size: 1.25rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: var(--white);
}

.footer-testimonial p {
    mask-border-width: 450px;
    margin: auto;
    font-size: .9rem;
    line-height: 1.5rem;
    color: var(--white);
}


/* Contacts */

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA;
}

.contact .contact-content {
    max-width: 800px;
    text-align: center;
}

.contact .contact-content h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.contact .contact-content p {
    font-weight: 300;
    line-height: 30px;
}

.contact-container{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 30px;
}

.contact-container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-container .contact-info .box .icon {
    min-width: 60px;
    height: 60px;
    background-color: var(--secondary-color);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.375;
}

.contact-container .contact-info .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 1rem;
    color: var(--primary-color);
    flex-direction: column;
    font-weight: 300;
}

.contact-container .contact-info .box .text h3 {
    font-weight: 500;
    color: var(--secondary-color);
}

.contact-form {
    width: 40%;
    padding: 40px;
    /* background: var(--white); */
    background: #EEEEEE ;
    border-radius: 10px;
}

.contact-form h2 {
    font-size: 1.875rem;
    color: var(--secondary-color);
    font-weight: 500;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input, 
.contact-form .input-box textarea {
    width: 100%;
    height: 40px;
    padding: 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 1rem;
    margin: 15px 0 0 8px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span{
    color: #e91e63;
    font-size: 0.70rem;
    transform: translateY(-25px);
}

.contact-form .input-box input[type="submit"] {
    width: 120px;
    height: 50px;
    background: var(--tertiary-color);
    color: var(--white);
    border: none;
    cursor: pointer;
    padding: 1.125rem;
}

@media (max-width: 991px){
    .contact {
        padding: 50px;
    }

    .contact-container {
        flex-direction: column;
    }
    .contact-container .contact-info {
        margin-bottom: 40px;
    }

    /* .contact-container .contact-info .box:nth-child(1){
       margin-left: -110px;
    }

    .contact-container .contact-info .box:nth-child(2){
       margin-left: -22px;
    } */

    .contact-container .contact-form {
        width: 100%;
    }

}

/* Footer */

footer{
    background-color: #25262B; 
    padding: 50px 0;
}

ul {
    list-style: none;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 50%;
    padding: 0 15px
}

.footer-col h4 {
    font-size: 1.125rem;
    color: var(--white);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--purple-color);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--white);
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    line-height: 30px;
}

.footer-col ul li a:hover {
    color: var(--white);
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--white);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: var(--white);
}

@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
}

.copyright {
    margin-top: 30px;
}

.copyright hr {
    width: 70%;
    margin: auto;
    border: 1px solid #777777;
}

.copyright p {
    text-align: center;
    margin-top: 30px;
    color: #777777;
    font-size: 0.785rem;
}

